@model Registrov2._0.Models.ViewModels.SemestreModeloIndex
@{
    ViewBag.Title = "Semestres Registrados";
}


@if (ViewBag.exito != null)
{
    <script>
        var mensaje = '@ViewBag.exito';
        //swal("Bien echo!", mensaje, "success");
        Swal.fire(
            'Bien echo!',
            mensaje,
            'success'
        );
    </script>
}

@if (ViewBag.error != null)
{
    <script>
    var mensaje = '@ViewBag.error';
    //swal("Error!", mensaje, "error");
        Swal.fire(
            'Error!',
            mensaje,
            'error'
        );
    </script>
}

<h2 class="tituloPage">@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div>
            <strong>Periodo</strong>
        </div>
        <div class="form-group">
            @Html.DropDownList("Periodos", Model.Periodos, new { @class = "form-control ", id = "cboPeriodos" })
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div>
            <strong>Carrera</strong>
        </div>
        <div class="form-group">
            <select id="cboCarreras" name="cboCarrera" class="form-control"></select>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>


<div class="row" style="text-align:right; padding:10px;">
    <a class="btn btn-primary" href="~/Semestre/Nuevo"> Nuevo </a>
</div>

<div class="row" style="padding:10px;">
    <a class="btn btn-warning" href="~/Administracion/Index"> <i class="fas fa-arrow-left"> Menu</i></a>
</div>


<div class="row">
    <div class="col-md-12">
        <table class="table" style="max-width:50%; margin:auto">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th style="text-align:center">
                        Acciones
                    </th>
                </tr>
            </thead>
            <tbody id="semestreTablaBody">
                <tr style="text-align:center;">
                    <td colspan="2" style="padding:20px">
                        No hay <strong> Semestres </strong>registrados para la carrera seleccionada!
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>


<script>

    //cojo variables
    //combo de periodos
    var cboPeriodos = document.getElementById("cboPeriodos");
    //agrego el evento a change para consultar las carreras del epriodo
    cboPeriodos.addEventListener("change", consultarCarrerarxPerio);


    //combo de Carreras
    var cboCarreras = document.getElementById("cboCarreras");
    //agrego el evento consultar semestres cuando cambie la carrera
    cboCarreras.addEventListener("change", consultarSemestresxCarrera);

    //tabla de semestres
    var semestresTablaBody = document.getElementById("semestreTablaBody");


    //ejecuto la funcion de consultarCarrera
    consultarCarrerarxPerio();

    function consultarCarrerarxPerio() {
        //debo llenar el dropdownlist

        fetch("@Url.Content("~/Carrera/getCarrerasPorPeriodo")" + "?idPeriodo=" + cboPeriodos.value)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            }).then(function (data) {
                //console.log(data);

                //limpio el combo
                cboCarreras.innerHTML = "";

                if (data.length != 0) {

                    //lleno el combo de carreras
                    data.forEach(function (element) {
                        agregarOpcionAlSelect(element.Nombre, element.Id, cboCarreras);
                    });

                    //aqui consulto enseguida y lleno la tabla
                    //otro fectch


                    consultarSemestresxCarrera();

                } else {
                    //mando alerta de no haber respuesta
                    Swal.fire(
                        'Alerta!',
                        'No se encontraron carreras asociadas con el Periodo',
                        'info'
                    );

                    agregarOpcionAlSelect("No hay carreras asociadas", null, cboCarreras);

                    //vacio la tabla previamente cargada
                    semestresTablaBody.innerHTML = `<tr style="text-align:center;">
                    <td colspan="2" style="padding:20px">
                        No hay <strong> Semestres </strong>registrados para la carrera seleccionada!
                    </td>
                </tr>`;
                }

            });
    }

    function consultarSemestresxCarrera() {

        //limpio la tabla
        semestresTablaBody.innerHTML = ``;


        fetch("@Url.Content("~/Semestre/getSemestresxCarrera")" + "?idCarrera=" + cboCarreras.value)
            .then(function (result) {
                if (result.ok) {
                    return result.json();
                }
            }).then(function (data) {
                //console.log(data);

                if (data.length != 0) {
                    data.forEach(function (element) {
                        renderizarFilaSemestre(element);
                    })
                } else {
                    semestresTablaBody.innerHTML = `<tr style="text-align:center;">
                    <td colspan="2" style="padding:20px">
                        No hay <strong> Semestres </strong>registrados para la carrera seleccionada!
                    </td>
                </tr>`;
                }

            });
    }

    function agregarOpcionAlSelect(nombre, value, combo) {
        let opt = document.createElement("option");
        opt.appendChild(document.createTextNode(nombre));
        opt.value = value;

        combo.appendChild(opt);
    }

    function renderizarFilaSemestre(item) {
        semestresTablaBody.innerHTML = semestresTablaBody.innerHTML + `<tr > <td> ` + item.Nombre + ` </td> <td style="text-align:center">
                        <a class="btn btn-default" href="@Url.Content("~/Semestre/Editar/")${item.Id}"> Editar </a>
                        <input type='button' class="btn btn-danger"  onclick='eliminarSemestre(`+ item.Id + `)' value='Eliminar' />
                    </td> </tr>`;
    }

    function eliminarSemestre(id) {
        //console.log(id);

        Swal.fire({
            title: "Eliminar?",
            text: `Se eliminara permanentemente!`,
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonText: "Cancelar",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, eliminar!",
        }).then((result) => {
            if (result.value) {
                //dispatch(eliminarCategoriaAction(id));
                //console.log('acepte');

                fetch("@Url.Content("~/Semestre/Eliminar")" + "?idSemestre=" + id)
                    .then(function (result) {
                        if (result.ok) {
                            return result.json();
                        } else {
                            Swal.fire(
                                'Error!',
                                'Intente nuevamente!',
                                'error'
                            )
                        }

                    }).then(function (data) {
                        if (data.Status == "success") {
                            Swal.fire(
                                'Bien echo!',
                                data.Mensaje,
                                'success'
                            ).then((result) => {
                                if (result.value) {
                                    location.reload();
                                } else {
                                    location.reload();
                                }
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                data.Mensaje,
                                'error'
                            );
                        }
                    });
            }
        });

    }

</script>




